
reference/wc_model/
reference/tf2w.pkl
reference/~$情感词汇本体.xlsx
.idea
*.pyc
reference/wc_model
reference/wc_model/output
test
*.pkl
corpus/book/book_review.txt
corpus/book/book_review_cut.txt
corpus/NYT_comment.txt
corpus/NLPIR_weibo.txt
corpus/zh_train.txt
corpus/hotel_en/
reference/output/vocab_0.tsv
reference/output/vocab_1.tsv
reference/output/vocab_2.tsv
reference/output/vocab_3.tsv
reference/output/vocab_4.tsv
